.ba-header{
    content: "";
    position: absolute;
    bottom: -1rem;
    height: 1rem;
    width: 30%;
    background-color: $dark-blue;
}

@mixin header($color){
    display: inline;
    color: $color;
    vertical-align: baseline;
    float: none;
    font-size: 4rem;
    line-height: 6.3968rem;
    ~span{
        float: none;
        letter-spacing: 0.25rem;
        font-size: 3.998rem;
        text-align: left;
    }
}
    
@mixin nav($font, $min-height, $padding, $margin, $border-right){
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    > a {
        flex-basis: 20%;
        font-size: $font;
        line-height: 2rem;
        min-height: $min-height;
        border: none;
        border-left: 1px solid $light-grey;
        padidng: $padding;
        margin: $margin;
        background-color: $white;
        &:last-child{
            border-right: $border-right;
        }
    }
}

@mixin sml-breakpoint{
    @media screen and (min-width: #{$bp-sml}) and (max-width: #{$bp-med -1}){
        @content;
    }
}

@mixin med-breakpoint{
    @media screen and (min-width: #{$bp-med}) and (max-width: #{$bp-lrg -1}){
        @content;
    }
}


@mixin lrg-breakpoint{
    @media screen and (min-width: #{$bp-lrg}){
        @content;
    }
}

