$font-stack: 'Josefin Sans', 'Trebuchet MS', Helvetica, sans-serif;
$font-stack-serif: Cardo, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

$light-blue: #C7F7FF;
$med-blue: #89C0C9;
$dark-blue: #3a5E63;

$light-brown: #C9A689;
$dark-brown:  #7C593C;

$white: #fff;
$light-grey:  #d4d4d4;
$dark-grey:   #222;

$bp-sml: 701px;
$bp-med: 901px;
$bp-lrg: 1401px;